/** Style générique de tous les éléments */
*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #f3f3f3; /* sinon le header n'a plus de box-shadow */ 
}
img{
    max-width: 100%;
    height: auto;
}
/** Style du header */
header{
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 3px 3px #00000030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /** position: relative;
    z-index: 1;*/
}
header ul{
    display: flex;
    gap: 20px;
}
header a{
    color: #444444;
    text-decoration: none; 
    text-transform: uppercase;
}
header i{
    margin-right: 10px;
}
@media screen and (min-width: 768px){
    header .fa-bars{
        display: none;
    }

}
@media screen and (max-width: 767px) {
    header nav{
        display: none;
    }
}

/** Style du contenu principal */
main{
    padding: 10px 20px;
}
h1{
    margin: 5px 0;
    font-size: 1.5em;
    font-weight: 800;
}
h2, main h3{
    margin: 25px 0 35px;
    font-size: 1.2em;
    font-weight: 700;
}
main h3{
    margin: 5px 0;
}
@media screen and (min-width: 800px) {
    section{
        display: flex;
    }
    .column{
        padding: 20px;
    }
    .column:first-child{
        width: 60%;
    }
    .column:last-child{
        width: 40%;
    }
}
.box{
    background-color: #ffffff;
    padding: 20px;
    margin: 15px 0;
}
p, a{
    color: #888888;
    padding: 10px 0;
    line-height: 1.3;
    text-decoration: none;
}
a:hover{
    color: #666666;
}
.address{
    font-size: 0.8em;
}
#placeholder{
    width: 120px;
    height: 120px;
    background-color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
}
#placeholder p{
    color: #000000;
}
@media screen and (min-width: 1024px) {
    /** #placeholder{
        float: left;
        margin-right: 10px;
    } */
    .squarebox{
        display: flex;
        gap: 10px;
    }
    .squarebox > div{
        flex-shrink: 3
    }
    .squarebox > #placeholder{
        flex-shrink: 1;
    }
}
.btn{
    display: inline-block;
    padding: 5px 10px;
    color: #888888;
    text-decoration: none;
    box-shadow: 0 3px 3px #00000030;
}
.btn:hover{
    box-shadow: 0 6px 6px #00000030;
    font-weight: 600;
}

/** Style de la table */
table{
    width: 100%;
}
th, td{
    border: solid 1px #bbbbbb;
    padding: 5px;
}
th{
    font-weight: 600;
    text-align: left;
}

/** Style du footer */
footer{
    background-color: #ffffff;
    padding: 10px 20px;
}
#mainfooter{
    padding-bottom: 60px;
}
h3{
    font-weight: 600;
    text-transform: uppercase;
    color: #666666;
    margin: 5px 0 20px;
}
@media screen and (min-width: 768px) {
    #mainfooter{
        display: flex;
        flex-wrap: wrap;
    }
    .footer-column{
        width: 50%;
        padding: 25px 25px 0;
    }
}
@media screen and (min-width: 1024px) {
    .footer-column{
        width: 25%;
    }
}

/** Style des tags du footer */
#tag-list li{
    display: inline-block;
    margin: 5px 10px;
}
#tag-list a{
    display: inline-block;
    background-color: #f3f3f3;
    padding: 5px 10px;
    position: relative
}
#tag-list a:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -15px;
    border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  
  border-left:15px solid #f3f3f3; 
}
